<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.username %>!</h1>
    <p>To reset your password, open the following link: </p>
    <a href="<%= @link %>">dav-apps.tech</a>
    <p>If you don't want to change your password, you can ignore this email.</p>
  </body>
</html>
