<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.username %>,</h3>
    <p>to confirm your new password, open the following link: 
      <a href="<%= @link %>">dav-apps.tech</a></p>
    
    <p>If you don't want to change your password, you can ignore this email.</p>
  </body>
</html>
