<div class="container py-3 bg-light">
	<div class="card bg-white">
		<div class="card-body">
			<a href="https://dav-apps.tech" class="card-title text-dark" style="margin-left: 10px; font-size: 23px; text-decoration: none;">dav</a>
			<h4 class="text-center mt-3 mb-2">Remove <%= @app.name %> from your account</h4>
			<p class="card-text text-center">Click the button below to remove <%= @app.name %> from your account.</p>
			<p class="text-muted text-center mt-2">Please be aware that all your app data will be deleted and cannot be recovered.</p>
			<%= link_to "Remove app", @link, class: "btn btn-danger mx-auto mt-4 mb-2" %>
		</div>
	</div>
</div>