<!DOCTYPE html>
<html>
  	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
	  	<h3>The archive of your dav account is now ready to download.</h3>
    	<p>You can download your archive in the settings of your account.</p>
    	<a href="<%= @link %>">dav-apps.tech</a></p>

   	<p>The archive will be automatically deleted after one month.</p>
  	</body>
</html>
