<!DOCTYPE html>
<html>
  	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
	  	<h3>We were unable to charge your card for your dav Plus subscription.</h3>
    	<p>We downgraded your account to the free plan. Please update your billing information.</p>
    	<a href="<%= @link %>">dav-apps.tech</a></p>
  	</body>
</html>
