<!DOCTYPE html>
<html>
  	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<h3>Hi <%= @user.username %></h3>
		<p>To delete your account, please click the following link: </p>
		<a href="<%= @link %>">dav-apps.tech</a>
		<p>All your app data will be deleted permanently.</p>
		<p>If you do not want to delete your account, you can ignore this email.</p>
  	</body>
</html>
